html, body, .modal-content {
	background-color: #F2E8CF;
	font-family: 'Rubik', sans-serif;
}

.btn-primary {
    background-color: #6A994E;
}

nav, footer {
    font-weight: 500;
}

th > a {
    color: #FFFFFF;
}