{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'website/buttons.css' %}">
<link rel="stylesheet" href="{% static 'website/background.css' %}">

<div class="buttonContainer">
  <button class="checkOutButton buttons">
    <div class="cornerCircle" style="align-self: flex-start;">
      <div class="cornerBook">
        <div class="iconTopArrow" style="border-bottom:30px solid blue;"></div>
        <div class="iconBottomArrow" style="background-color: blue;"></div>
        <div class="bottomIconBox"></div>
      </div>
    </div>
    <div class="textBox">
      Check Out A Book
    </div>
  </button>
  <button class="returnButton buttons">
    <div class="cornerCircle" style="align-self: flex-end;">
      <div class="cornerBook">
        <div class="iconBottomArrow" style="background-color: red; margin-bottom: 0; margin-top: 5px;"></div>
        <div class="iconArrowDown" style="border-top: 30px solid red;"></div>
        <div class="bottomIconBox"></div>
      </div>
    </div>
    <div class="textBox">
      Return A Book
    </div>
  </button>
</div>

{% endblock %}